/* =========================
    ANIMACIONES
========================= */
@keyframes iluminar {
    from {
        background-color: $color-fondo;
        color: $color-texto;
    }

    to {
        background-color: $color-hover-fondo;
        color: $color-texto-hover;
    }
}
