@use 'variables';

/* =========================
    ANIMACIONES
========================= */
@keyframes submenu {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
