@use 'variables';
@use 'mixins';
@use 'animacion';

/* =========================
    NAV / MENÚ
========================= */

// Contenedor principal del nav
nav {
    background-color: variables.$color-fondo;
    width: 100%;

    > ul {
        list-style: none; // Elimina el estilo
        display: flex; // hace que los li se alineen horizontalmente
        justify-content: flex-start; // Alineación a la izquierda
    }
    
        li {
            position: relative;

            a {
                color: variables.$color-texto;
                padding: 15px 30px;
                text-decoration: none;
                display: block;
                text-align: center;
                @include mixins.transition(color, 0.3s);

                &:hover {
                    color: variables.$color-hover-texto; // Color al pasar el mouse
                    background-color: variables.$color-hover-fondo;
                }
            }

            // SUBMENU // 
            > ul {
                display: block;
                position: absolute; // Posicionado respecto al li
                top: 100%;
                left: 0;
                min-width: 100%;
                list-style: none;
                background-color: variables.$color-fondo;

                // oculto (pero animable)
                opacity: 0;
                visibility: hidden;
                pointer-events: none; /* no interactúa mientras está oculto */
                transform: translateY(-8px);
            }

            // Muestra el submenú al hacer hover
            &:hover>ul {
                visibility: visible;
                pointer-events: auto; /* vuelve a ser clicable */
                // dispara la animación al aparecer
                @include mixins.animation(submenu, 0.45s);

                // estado final coherente con el keyframe
                opacity: 1;
                transform: translateY(0);
            }

            // Elementos del submenú
            ul li {
                display: block;
                width: 100%;

                a {
                    display: block;
                    padding: 15px 30px;
                    color: variables.$color-texto;
                    text-decoration: none;

                    &:hover {
                        color: variables.$color-hover-texto;
                    }
                }
            }
        }
    }


