@use 'variables';
@use 'menu';
@use 'mediaqueries';

/* =========================
    RESET: Estilo general - universal
    Elimina estilos por defecto del navegador
========================= */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* =========================
        HEADER: CABECERA
========================= */
header {
    background-color: rgb(218, 213, 213); // Fondo del header
    width: 100%; // Ocupa todo el ancho
    padding: 5px 20px; // Espaciado interno


    h1 {
        font-size: 2em; // Tamaño del título
        font-family: Georgia, 'Times New Roman', Times, serif; // Fuente
        color: rgb(54, 54, 54); // Color del texto
    }
}


/* =========================
    MAIN / CONTENEDOR PRINCIPAL 
========================= */
main {
    display: flex;
    gap: 30px;
    height: auto;
    padding: 10px 15px;

    // Último article (contenido principal)
    article:last-child {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1; // Ocupa el espacio disponible

        h1 {
            padding: 5px 0px;
            color: variables.$color-titulo;

        }
    }
}

/* =========================
    FORMULARIO
========================= */
.login {
    width: 20rem; // Ancho fijo del formulario
    display: flex;
    flex-direction: column; // Elementos en columnas    
    gap: 15px; // Separacion vertical

    // Inputs y botón comparten estilos
    input,
    button {
        width: 100%; // ocupan todo el ancho del formulario
        height: 25px;
        border-radius: 5px; // Bordes redondeados
        padding-left: 5px;
        box-sizing: border-box
    }

    input {
        border: 2px solid gray;
    }

    button {
        border: none;
        background-color: variables.$color-fondo;
        color: white;
    }
}


/* =========================
    FOOTER
========================= */
footer {
    background-color: variables.$color-fondo; // Fondo del footer
    color: variables.$color-texto; // Color del texto
    text-align: left; // Alineación del texto
    padding: 15px; // Espaciado interno
    width: 100%;
}
