* {
    padding: 0px;
    margin: 0px;
}

article {
    padding: 25px;
}

article section ul {
    padding: 15px;
}
article section ul li a {
    text-decoration: none;
}

h1 {
    padding: 25px;
}

@media (min-width: 1200px) {

    article {
        display: flex;
        justify-content: left;

    }

    article section ul {
        padding: 15px;
        
    }

}