/*Reseteo de los espacios*/
* {
    padding: 0px;
    margin: 0px;
}

/* CSS Cabecera*/
header {
    background-image: url("img/img1.jpg");
    color: aliceblue;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Solo la etiqueta h1 hijo del header tendra un padding de 20px*/
header > h1 {
    padding: 20px;
}

/*Afecta el estilo del boton del header*/
header button {
    width: 140px;
    border-radius: 200px;
    background-color: rgba(0, 95, 150, 0.774);
    border: 1px solid whitesmoke;
    padding: 10px;
}

/*El enlace dentro del boton*/
header button a {
    color: aliceblue;
    text-decoration: none;
    
}

/* CSS navegador */

/*El enlace que esta dentro de una lista desondenada de enlaces*/
nav ul li a {
    padding: 5px;
    color: rgb(240, 218, 148);
    text-decoration: none;
}

/**/
nav ul {
    background-color: rgba(0, 95, 150, 0.774);
    padding: 18px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 2px;
}


/* CSS Main*/

main section img {
    width: 300px;
}

main {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    height: 270;
    
}

/*--------- PIE DE PAGINA ---------*/
footer {
    display: flex;
    background-color:  rgba(0, 95, 150, 0.774);
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}

footer section {
    margin-left: 100px;
    margin-right: 100px;
}

footer section  > hr {
    border: 1px solid rgb(232, 197, 79);
}


/* --------- POLITICAS -------------*/

#footer-siguenos {margin-top: 40px;}

#footer-siguenos h2 {
    color: rgb(232, 197, 79);
    text-align: left;
    
}

#footer-siguenos ul li{
    list-style: none;
    text-align: left;
}

#footer-siguenos ul li a{
    text-decoration: none;
    color: rgb(232, 197, 79);
    
}

/* ------- REDES SOCIALES --------*/

#footer-redes h2 {
    color: rgb(232, 197, 79);
    text-align: left;
}

#footer-redes figure img {
    width: 100px;
    margin: 15px;
}

#footer-redes figure {
    text-align: left;
}

/* ------ FORMULARIO ------- */
#footer-form {
    margin-top: 15px;
    
}

#footer-form h2 {
    color: rgb(232, 197, 79);
}

#footer-form label {
    display: inline-block;
    width: 80px; 
    text-align: left;
    font-size: 16px;
    padding-bottom: 10px;
}

#footer-form input {
    text-align: left;
    width: 150px;
}

#footer-form button {
    background-color: white;
    border-radius: 10px;
    border: none;
    width: 120px;
    padding: 7px;
    text-align: center;
    display: block;
}

/*Fuente de toda la pagina*/
body {
    font-family: Arial, Helvetica, sans-serif;

}

/* Diseño Responsive (completar) (Relacion a un punto del examen)*/

/* Punto 1: Pantallas medianas y grandes (>=768px) */
@media (min-width: 768px) {
    nav ul li {
        display: inline-block;
        text-align: center;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    body {
        display: flex;
        flex-direction: column;
    }
    
    html, body {
        height: 100%;

    }
    main {
        flex: 1;
    }
}

/* Punto 2: Pantallas pequeñas (<=767px) */
@media (max-width: 767px ) {
    nav ul li {
    display: block;
    text-align: center;
    margin: 5px 0;
}

    main   {
        display: flex;
        flex-direction: column;
        height: auto;
        flex-wrap: wrap;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
