// IMPORTACION DE ESTILOS SCSS ==========================
@import "../variables";
@import "../mixin";
@import "../cabecera";
@import "../menu";
@import "../card";
@import "../footer";
@import "../keyframes";
@import "../reset";
@import "../media";


// ======================================================
// ESTILO CUERPO PRINCIPAL ==============================
main {
    background-color: #ffffff;
}

// ESTILO A SECCIÓN DE CLASE TITULOS ==================
.titulos {
    font-family: $font-titulos;
    color: rgb(250, 248, 248);
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

.seccion-principal {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    padding: 40px 0px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.bg-borrosa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* hace que la imagen cubra todo el contenedor */
    filter: blur(2px);
    /* desenfoca la imagen */
    z-index: 0;
    /* queda detrás del contenido */
}

.seccion-principal>*:not(.bg-borrosa) {
    position: relative;
    /* Mantiene el contenido encima del pseudo-elemento */
    z-index: 1;
}

.formulario-principal {
    display: flex;
    flex-direction: column;
    gap: 15px;

    input {
        border-radius: 5px;
        border: 2px solid #ccc;
        padding: 10px 15px;
        transition: border-color 0.5s linear box-shadow 0.3s ease;
        outline: none;
    }

    input:focus {
        border-color: #F39C12;
        box-shadow: 0 0 5px #F39C12;
    }

    button {
        background-color: $color-boton;
        border: none;
        border-radius: 10px;
        color: rgb(212, 212, 212);
        padding: 5px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        @include transicion-color(0.8s, linear);
    }

    button:hover {
        color: #ffffff;
    }
}

#miCarrusel-caracteristicas {
    padding: 40px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.fon {
    background-color: rgba(138, 159, 166, 0.601);
    padding: 50px;
    border-radius: 15px;
}

.section-destacados {
    text-align: center;
    padding: 20px;

    h2 {
        padding-bottom: 20px;
    }
}

.continente {
    display: flex;
    justify-content: space-around;
}

// PAGINA DESTINO MAIN =============
.pagina-destinos h1 {
    font-size: 40px;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    color: #16002f;
    border-bottom: 2px solid #16002f;
    margin: 20px 20px;
    border-top: 2px solid #16002f;
}

// ESTILO A LINEA DE IMAGENES EN LA PAGINA DESTINO ===========
.container-linea-img {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding: 20px 0;
}

.container-linea-img h1 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    padding: 20px 0;
}

.icono-bandera {
    width: 35px;
    height: auto;
    margin: 0 10px;
    padding: 0;
    background-color: transparent;
}

.linea-imgs {
    display: flex;
    gap: 20px;
    /* ancho según contenido total */
    animation: mover 16s linear infinite;
    width: max-content;
}

// Titulo continetes ============

.titulo-continente span {
    transition: color 0.8s linear, text-shadow 0.4s linear;

    &:hover {
        color: #5502b5;
        text-shadow: 3px 3px 3px #16002f;
    }
}
