@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
header {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #411774 20%, #7282c8 50%, #411774 78%);
}

.enlace-sesion > ul {
  display: flex;
  justify-content: end;
  margin: 5px;
  font-size: 16px;
  font-weight: 30px;
  padding: 10px 8px;
  gap: 8px;
}
.enlace-sesion > ul li > a {
  display: flex;
  align-items: center;
  /* Alinea verticalmente */
  gap: 8px;
  /* Espacio entre icono y texto */
  text-decoration: none;
}

.container-logo > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito", sans-serif;
  color: #cd7f00;
  font-size: 25px;
}
.container-logo > a img {
  width: 100px;
}

.container-logo {
  padding-bottom: 10px;
}

li {
  list-style-type: none;
  color: #bebebe;
}

.container-menus {
  width: 100%;
  padding: 12px;
}
.container-menus nav > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.container-menus nav > ul li {
  position: relative;
  /* Submenu del submenu (segundo nivel): a la derecha */
}
.container-menus nav > ul li a {
  display: block;
  padding: 10px 15px;
  text-align: left;
}
.container-menus nav > ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  background: linear-gradient(to bottom, #fca800, hsl(15, 100%, 50%));
  border-radius: 10px;
  min-width: 150px;
  z-index: 2;
}
.container-menus nav > ul li > ul > li > ul {
  display: none;
  position: absolute;
  top: 0; /* misma altura que el li padre del submenu */
  left: 100%; /* a la derecha del li del submenu */
  padding: 0;
  margin: 0;
  list-style: none;
  background: linear-gradient(to bottom, #fca800, hsl(15, 100%, 50%));
  border-radius: 10px;
  min-width: 150px;
  z-index: 2;
}
.container-menus nav > ul li:hover > ul {
  display: block;
}

.container-menus a {
  font-size: 18px;
}

.tabs-menu {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  justify-content: space-between;
  width: 100%;
}

/* Ocultar los radio buttons */
.tabs-section input[type=radio] {
  display: none;
}

.tab-link {
  flex: 1;
  text-align: center;
  padding: 12px 0;
  cursor: pointer;
  border-radius: 4px;
  color: rgb(199, 199, 199);
  background-color: #270066;
  transition: 0.3s;
  transition: font-size 0.9s linear, font-weight 0.9s linear;
  transition: color 0.9s linear;
  transition: background 0.9s linear;
  border-radius: 4px;
}

.tab-link:hover {
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: #4e00cc;
}

/* Contenido oculto por defecto */
.tab-content {
  display: none;
}

#tab-europa:checked ~ .tabs-content #section-europa,
#tab-asia:checked ~ .tabs-content #section-asia,
#tab-america:checked ~ .tabs-content #section-america,
#tab-oriente:checked ~ .tabs-content #section-medio-oriente {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Cuando el radio está seleccionado, aplicamos estilo */
#tab-europa:checked ~ .tabs-menu label[for=tab-europa],
#tab-asia:checked ~ .tabs-menu label[for=tab-asia],
#tab-america:checked ~ .tabs-menu label[for=tab-america],
#tab-oriente:checked ~ .tabs-menu label[for=tab-oriente] {
  background-color: rgb(68.25, 0, 178.5);
  color: #fff;
  font-weight: 600;
}

/* Card básica */
.card {
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f2f1f1;
}

.button {
  background-color: #270066;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px 25px;
  border: none;
  transition: background 0.5s linear;
}
.button:hover {
  background-color: rgb(81.6808510638, 0, 174.5);
}

.card img {
  width: 100%;
  height: 150px;
}

.section-header {
  text-align: center;
  /* centra el título */
}

/* ================================= */
/* TITULOS Y CONTENEDOR CARD-HEADER */
/* ================================= */
.card-header {
  text-align: center;
}

.section-header {
  text-align: center;
  /* centra el título */
  padding: 15px 0;
}
.section-header h2 {
  font-size: 28px;
  /* tamaño principal */
  font-weight: 700;
  /* negrita */
  color: #16002f;
  /* tu color principal */
  margin: 0;
  letter-spacing: 0.5px;
  /* mejora la legibilidad */
}

.card-header h3 {
  font-size: 22px;
  /* tamaño destacado */
  font-weight: 700;
  color: #16002f;
  /* color principal */
  margin-bottom: 15px;
  text-align: center;
  letter-spacing: 0.5px;
}

/* =============================== */
/* LISTA DE VENTAJAS EXCLUSIVAS */
/* =============================== */
.beneficios-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin: 0;
  list-style: none;
}
.beneficios-list li {
  background-color: #e0f7e9;
  /* fondo suave */
  color: #007700;
  /* texto verde */
  padding: 6px 12px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  gap: 6px;
  width: 100%;
  text-align: center;
}

/* =============================== */
/* SPEUDOCLASE A TARJETAS - ANIMACION
/* =============================== */
.card:hover {
  animation: crecerTarjeta 1.25s ease forwards;
}

.chincheta {
  max-width: 24px;
  max-height: 24px;
}

/* =============================== */
/* TARJETA HORIZONTAL */
/* =============================== */
.card-horizontal {
  display: flex;
  flex-direction: row;
  /* fila horizontal */
  align-items: center;
  justify-content: space-between;
  /* separa los bloques */
  gap: 20px;
  width: 100%;
  background-color: #f2f1f1;
  padding: 15px;
  border-radius: 5px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

/* =============================== */
/* IMAGEN */
/* =============================== */
.card-horizontal img {
  width: 180px;
  height: 120px;
  border-radius: 4px;
}

/* =============================== */
/* BLOQUE INFO */
/* =============================== */
.card-info {
  flex: 2;
}

.card-info h3 {
  margin-bottom: 8px;
  font-size: 20px;
}

.card-info p {
  font-size: 14px;
  color: #555;
}

/* =============================== */
/* FECHAS */
/* =============================== */
.card-fechas {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-fechas span {
  font-size: 12px;
  color: #888;
}

.card-fechas strong {
  font-size: 14px;
}

/* =============================== */
/* PRECIO */
/* =============================== */
.card-precio {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.precio-oferta {
  text-decoration: line-through;
  color: #a00;
  font-size: 14px;
}

.precio {
  font-size: 22px;
  font-weight: bold;
  color: rgb(0, 177, 0);
}

.continente {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  justify-self: center;
  padding: 20px 0;
}

.paises {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.pais {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.pais img {
  width: 350px;
  height: 150px;
  border-radius: 5px;
}

/* Imagen al hacer hover */
.pais img:hover {
  animation: crecerTarjeta 0.3s forwards;
  /* ejecuta tu keyframes */
  cursor: pointer;
  /* opcional */
}

.lista-ciudades li {
  display: flex;
  justify-content: space-between;
  color: rgb(0, 22, 123);
}

.contenido {
  padding: 10px 5px;
  background-color: #e1e1e1;
  border-radius: 5px;
}
.contenido .button {
  display: block;
  text-align: center;
  margin: 10px 0px;
}

.titulo-pais {
  padding-bottom: 10px;
}

.titulo-continente {
  padding: 10px 0px;
  margin: 20px 0px;
  border-top: 1px solid #16002f;
  border-bottom: 1px solid #16002f;
}

footer {
  background: linear-gradient(to right, #411774 20%, #7282c8 50%, #411774 78%);
  display: flex;
  flex-direction: column;
}
footer .container-sections {
  display: flex;
}
footer .section1 {
  display: flex;
  width: 15%;
}
footer .section2 {
  flex: 1;
  display: flex;
  justify-content: space-around;
  margin: 40px;
}
footer .section-footer {
  display: flex;
  flex-direction: column;
}
footer .section-footer h3 {
  text-align: center;
  color: aliceblue;
  font-size: 18px;
  padding: 10px;
}
footer .section-footer section {
  display: flex;
}
footer .section-footer section ul {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .logo img {
  width: 10em;
}
footer hr {
  width: 90%;
}

footer li a {
  display: inline-block;
}
footer li a:hover {
  animation: moverDerecha 0.75s ease;
}

.copyright {
  text-align: center;
  color: white;
}

.text-logo1,
.text-logo2 {
  color: #cd7f00;
}

.text-logo2 {
  font-size: 20px;
  padding: 40px;
}

@keyframes crecerTarjeta {
  from {
    transform: translateY(0) scale(1);
    box-shadow: 0 8px 18px rgba(92, 92, 92, 0.12);
  }
  to {
    transform: translateY(-12px) scale(1.03);
    box-shadow: 20px 32px 30px rgba(0, 0, 0, 0.12);
  }
}
@keyframes moverDerecha {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}
@keyframes mover {
  0% {
    transform: translateX(100%);
    /* empieza fuera a la derecha */
  }
  100% {
    transform: translateX(-100%);
    /* termina fuera a la izquierda */
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0%;
}

button {
  cursor: pointer;
}

hr {
  border: 1px solid white;
}

a {
  text-decoration: none;
  color: #bebebe;
  transition: color 0.6s linear;
}
a:hover {
  color: #ffffff;
}

h1 {
  text-align: center;
  font-family: "Nunito", sans-serif;
}

h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-shadow: 1px 1px 0px rgb(189, 189, 189);
  color: #270066;
  font-size: 32px;
  /* tamaño principal */
  font-weight: 700;
  /* negrita */
  color: #16002f;
  /*color principal */
  margin: 0;
  letter-spacing: 0.5px;
  /* mejora la legibilidad */
}

main {
  background-image: url("../../imgs/fondo-registro.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px;
}

.container-formulario {
  background-color: rgba(240, 248, 255, 0.223);
  border-radius: 10px;
  margin: 0px 400px;
}

.container-datos {
  display: flex;
  flex-direction: column;
  padding: 25px 50px;
  margin: 20px;
  align-items: center;
  gap: 10px;
}

.titulo-form {
  font-size: 25px;
  font-family: "Nunito", sans-serif;
  text-align: left;
  padding: 0 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  text-align: left;
}

input {
  border-radius: 5px;
  border: none;
  width: 300px;
  padding: 5px 10px;
}

select {
  padding: 5px 5px;
  border-radius: 5px;
}

.radio-group {
  display: flex;
  gap: 20px;
  /* espacio entre cada opción */
  flex-wrap: wrap;
  /* se ajusta si no cabe en una línea */
  width: 320px;
  /* mismo ancho que los inputs */
}

.radio-group label {
  display: flex;
  align-items: center;
  /* centra verticalmente el radio con el texto */
  gap: 5px;
  /* espacio entre el botón y el texto */
  font-weight: normal;
}

.radio-group input[type=radio] {
  width: auto;
  /* mantiene tamaño normal del botón */
  height: auto;
  cursor: pointer;
}

.checkbox-group {
  display: flex;
  /* alinea los labels en fila */
  gap: 20px;
  /* espacio entre cada opción */
  flex-wrap: wrap;
  /* se ajusta si no caben en una línea */
  width: 320px;
  /* igual que otros bloques del formulario */
}

.checkbox-group label {
  display: flex;
  /* para alinear checkbox y texto */
  align-items: center;
  /* centra verticalmente */
  gap: 5px;
  /* espacio entre checkbox y texto */
  cursor: pointer;
  /* muestra que es clickable */
}

.checkbox-group input[type=checkbox] {
  width: auto;
  height: auto;
}

textarea {
  width: 100%;
  /* ocupa todo el ancho del bloque */
  max-width: 500px;
  /* opcional: límite máximo */
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.botones-form {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 10px 0px;
  flex-wrap: wrap;
}

@media (max-width: 992px) {
  main {
    padding: 20px;
  }
  .container-formulario {
    margin: 0 10px;
  }
  .container-datos {
    padding: 15px 20px;
  }
}/*# sourceMappingURL=reserva.css.map */