// ANIMACIONES (KEYFRAMES) DEFINIDOS ==========================================================

// ANIMACION para mover ligeramente la tarjeta hacia arriba, 
// aumentar su escala y darle sombra
@keyframes crecerTarjeta {
    from {
        transform: translateY(0) scale(1);
        box-shadow: 0 8px 18px rgba(92, 92, 92, 0.12);
    }

    to {
        transform: translateY(-12px) scale(1.03);
        box-shadow: 20px 32px 30px rgba(0, 0, 0, 0.12);
    }
}

// ANIMACION para mover ligeramente los elementos 
// hacia la derecha ============================
@keyframes moverDerecha {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(50%);
    }
}

// ANIMACION para mover los elementos hacia ==
// la derecha hasta la izq ===================
@keyframes mover {
    0% {
        transform: translateX(100%);
        /* empieza fuera a la derecha */
    }

    100% {
        transform: translateX(-100%);
        /* termina fuera a la izquierda */
    }
}
