body {
    background-image: url("imgs/img1.webp");
    background-size: cover;
}

header {
    background-image: url("imgs/img4.webp");
    background-size: cover;
    display: flex;
    padding: 15px 15px;

    section {
        background-color: rgba(151, 149, 158, 0.123);
        text-align: center;
        border-radius: 15px;
        flex: 1; /* Ocupa el espacio restante*/

        h1 {
            color: yellow;
            font-size: 3em;
            text-shadow: 15px 15px 10px black;
        }

        p {
            color: rgb(2, 66, 2);
            font-size: 1.5em;
            text-shadow: 5px 10px 8px black;
        }

        button {
            background: linear-gradient(to right, rgb(138, 0, 110), rgb(155, 0, 44));
            border-radius: 10px;
            border: none;
            padding: 7px 20px;
            color: orange;
            cursor: r;
        }
    }
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.container {
    background-color: rgba(160, 104, 104, 0.129);
    box-shadow: 0 4px 100px rgba(0,0,0,0.3);
    width: 1200px;

    .img-princ {
        display: flex;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
        
        h1 {
            color: blanchedalmond;
        }

        img {
            max-width: 800px;
            height: auto;
        }
    }
}

.logo {
    border-radius: 30%;
    width: 130px;
    height: auto;
}

.contacto {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 120px;
    height: 100px;
    color: rgb(255, 219, 245);
    background: #a4019f2f;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 999;
}