/* Estilo universal ------------------------- */
* {
    padding: 0%;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* ----------------------------------------- */

/* Cuerpo ---------------------------------- */
body {
    background-color: #FFF1E4;
}

/* Navegador ------------------------------- */
nav {
    background-color: #4C0000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

nav ul {
    display: flex;
    border: 5px solid white;
    padding: 30px;
    gap: 28px;
    border-radius: 20px;
    
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: end;
}

.buscador input {
    background-color: #FFF9DE;
    border: 0px;
    border-radius: 10px;
    padding: 5px;
    width: 400px;
}
/* ----------------------------------------- */

/* Seccion 1 : Galeria --------------------- */
main > h1 {
    color: #7B6200;
    text-align: center;
    margin: 15px;
}

.galeria {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 600px;
}

.galeria img {
    width: 33.99%;
    height: 600px;
}
/* ----------------------------------------- */

/* Seccion 2: Botones  --------------------- */

.botones {
    display: flex;
}

.novedad,
.buscado,
.prox {
    height: 230px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boton-nov {
    background-color: #AF6F42;
}
.boton-bus {
    background-color: #E0A47A;
}
.boton-prox {
    background-color: #602D08;
}
.novedad {
    background-color: #E8BC9D;
}
.buscado {
    background-color: #241001;
}
.prox {
    background-color: #8E4918;
}
/* ----------------------------------------- */

/* Estilo predefinido a todos botones ------ */
button {
    border-radius: 10px;
    padding: 10px;
    border: 0px;
}
/* ----------------------------------------- */

/* Seccion 3: Tarjetas --------------------- */
.tarjetas {
    display: flex;
    flex-direction: column;
}

.tarjeta-a, .tarjeta-b, .tarjeta-c {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: 2px solid rgb(35, 18, 1);
    margin: 15px;
}

.fondo-a {
    background-image: url("../img/fondo/10.jpg");
    background-size: 1800px;
}

.fondo-b {
    background-image: url("../img/fondo/1503701_6113.jpg");
    background-size: 900px;
}

.fondo-c {
    background-image: url("../img/fondo/8ba3e33f-7aba-41ea-8252-6695bd348f3d.jpg");
    background-size: 1800px;
    
}

/* Detalles tarjeta -------------------- */
.detalles {
    display: block;
    margin-left: 30px;
    margin-right: 70px;
}

.description {
    display: flex;
    align-items: baseline;
}
.portada {
    width: 200px;
    height: 300px;
}
/* ------------------------------------- */

/* Puntuacion ---------------------- */
.puntuacion {
    display: flex;
    justify-content: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.star {
    width: 20px;
    height: 20px;
}
/* --------------------------------- */

/* Precio -------------------------- */
.precio {
    display: flex;
    justify-content: left;    
}

.moneda {
    width: 25px;
    height: 25px;
}

.precio p {
    display: flex;
    text-align: left;
    align-items: center;
}
/* --------------------------------- */

/* Seccion 4: Inscripcion ------------------ */

.inscripcion {
    background-color: #EBD3BD;
    margin: 10px;
    border-radius: 15px;
    display: flex;
}

.des-ins {
    margin: 30px;
    display: block;
}

.des-ins p {
    width: 620px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.formulario button {
    background-color: #BC8D02;
    color: white;
}

/* ----------------------------------------- */

/* Footer -------------------------------------- */
footer {
    background-color: #4C0000;
    
}

footer article {
    display: flex;
    justify-content: space-between;
}

footer ul li a {
    color: white;
    text-decoration: none;
}
footer p {
    text-align: center;
    color: white;
}

footer ul li {
    list-style-type: none;
}

.redes img {
    width: 50px;
    height: 50px;
}
/* --------------------------------------------- */

@media (max-width:600px) {
    
    
}