* {
    padding: 0%;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #FFF1E4;
}

nav {
    background-color: #4C0000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

nav ul {
    display: flex;
    border: 5px solid white;
    padding: 30px;
    gap: 28px;
    border-radius: 20px;
    
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: end;
}

h1 {
    color: #7B6200;
    text-align: center;
    margin: 15px;
}

.buscador input {
    background-color: #FFF9DE;
    border: 0px;
    border-radius: 10px;
    padding: 5px;
    width: 400px;
}

.galeria {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 600px;
}

.galeria img {
    width: 33.99%;
    height: 600px;
}

.botones {
    display: flex;
}

.novedad,
.buscado,
.prox {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    border-radius: 10px;
    padding: 10px;
    border: 0px;
}

.boton-nov {
    background-color: #AF6F42;
}

.boton-bus {
    background-color: #E0A47A;
}

.boton-prox {
    background-color: #602D08;
}

.novedad {
    background-color: #E8BC9D;
}

.buscado {
    background-color: #241001;
}

.prox {
    background-color: #8E4918;
}

footer {
    background-color: #4C0000;
}