* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------ CABECERA ------------*/

/*Formateo de la cabecera: posicion, espaciado y fondo de color */
.cabecera {
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

/*Listado: quita los puntos*/
.cabecera nav ul {
    list-style-type: none;
}

/*Estilo del listado del navegador: formateo de estilo*/
.cabecera nav ul li a {
    text-decoration: none;
    color: black;
}

/*Espaciado del listado del navegador: formatea el alineamiento*/
.cabecera nav ul li{
    display: inline;
    padding: 10px;
}

/*------- CUERPO --------*/
/* Configuracion general del contenedor (main)*/
body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

/*Seccion principal*/
.seccion-principal {
    background-color: #e6e6e6;
    padding: 80px;
}

.seccion-principal h2, p, button {
    padding: 10px;
}

button {
    color: #e6e6e6;
    background-color: black;
    border-radius: 5px;
    padding: 8px;
}

/*Seccion formulario*/
.seccion-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color:white;
} 

form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 300px;
    padding: 50px;
    gap: 5px;
}

input {
    color:gray;
    height: 30px;
}

/* PIE PAGINA: Formateo de espacio, color, posicionamiento y estilo*/
footer {
    display: flex;
    align-items: top;
    justify-content: center;
    gap: 100px;
    background-color: black;
    text-align: center;
    padding: 25px;
    flex-wrap: wrap;
}

footer nav ul li a{
    text-decoration: none;
    color: white;
    
}

footer h3 {
    color: white;
    padding: 15px;
}

footer nav ul {
    list-style-type: none;
    
}

@media (max-width: 800px) {
    main {
        padding: 10px;
    }

    header {
        display: flex;
        flex-direction: column;
    }
    footer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}