/* --------------------------------- INLINE-BLOCK ---------------------------------*/
/* Reseteo global de posicionamiento*/
* {
    padding: 0px;
    margin: 0px;
}

/* Cabecera: formateo de alienacion y color*/
header {
    background-color: brown;
    text-align: center;
    padding: 15px;
}

/* Imagen de la cabecera: tamaño */
.logo {
    display: block;
    height: 150px;
    width: 150px;
    margin: auto;
}

/* Espacio de la lista dentro del nav */
header ul {
    padding: 15px;
}

/* Quita los puntos*/
nav ul > li {
    list-style-type: none;
    display: inline;
}


/* Estilo de los enlaces dentro de los li*/
nav ul li a {
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
}