body{
    margin:0px;
    padding:0px;
    background-color: grey;
}

h1{
    color:rgb(210, 11, 11);
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

ul li{
    font-size:30px;
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin-right:10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

ul li a{
    display: block;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

ul li a:hover{
    color:black;
}