$fuente: Arial, sans-serif;
$color: #f00;
$color_menu: #000;
$color_enlaces: #fff;
$color_hover:blue;
$fondo: #ccc;

html{
    background-color: $fondo;
    }

body{
    font: 150% $fuente;
    color: $color;
}


nav{
    ul {
        margin:0;
        padding:0;
        list-style:none;
        color:$color_menu;
    }

    li{
        display: inline-block;
    }

    a {
        display:block;
        padding: 6px 12px;
        text-decoration: none;
        color: $color_enlaces;
    }

    a:hover{
        color:$color_hover;
    }

}    

