// ESTILO DEFINIDO PARA LA CABECERA ==================================================================================

// ================================================================
// Estilo de posicionamiento del header y color de fondo  =========
header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, 
    $gradiente-1 20%,
    $gradiente-2 50%,
    $gradiente-1 78%
    );              // Gradiente
}

// ================================================================
// ESTILO A LA SECICON DE SESION (Registro y sesion) ==============
.enlace-sesion>ul {
    display: flex;
    justify-content: end;
    margin: 5px;
    font-size: 14px;
    gap: 8px;
}

// ================================================================
// ESTILO AL CONTENEDOR DEL LOGO (Img y enlace) ===========
.container-logo>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-principal;
    color: $color-logo;
    font-size: 25px;

    img {width: 100px;}
}



li {
    list-style-type: none;
    color: $color-enlace;
}