// Estilo de posicionamiento del header =======
header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, $fondo-cabecera-1, $fondo-cabecera-2);
}
// ============================================

.enlace-sesion > ul {
    display: flex;
    justify-content: end;
    margin: 5px;
    font-size: 14px;
    gap: 8px;
}

.container-logo > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-principal;
    color: $color-logo !important;
    img {
        width: 100px;
    }
}

a {
    text-decoration: none;
    color: $color-enlace;
    @include transicion-color(0.6s, linear);
    @include transicion-font(0.8s, linear);
        &:hover {
            color: #ffffff;
            font-size: 19px;
        }
}

li {
    list-style-type: none;
    color: $color-enlace;
}

