/* Card básica */
.card {
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f2f1f1;
}

.button {
    background-color: $color-boton;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 25px;
    border: none;

    @include transicion-background(0.5s, linear);

    &:hover {
        background-color: lighten(#16002f, 25%);
    }
}

.card img {
    width: 100%;
    height: 150px;
}

// ============================================================
// TITULO DE LA SECCION DE PAQUETES Y EXPERIENCIAS 
// ============================================================

.section-header {
    text-align: center;
    /* centra el título */

}

/* ================================= */
/* TITULOS Y CONTENEDOR CARD-HEADER */
/* ================================= */
.card-header {
    text-align: center
}

.section-header {
    text-align: center;
    /* centra el título */
    padding: 15px 0;

    h2 {
        font-size: 28px;
        /* tamaño principal */
        font-weight: 700;
        /* negrita */
        color: #16002f;
        /* tu color principal */
        margin: 0;
        letter-spacing: 0.5px;
        /* mejora la legibilidad */
    }
}

.card-header h3 {
    font-size: 22px;
    /* tamaño destacado */
    font-weight: 700;
    color: #16002f;
    /* color principal */
    margin-bottom: 15px;
    text-align: center;
    letter-spacing: 0.5px;
}

/* =============================== */
/* LISTA DE VENTAJAS EXCLUSIVAS */
/* =============================== */
.beneficios-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 0;
    list-style: none;

    li {
        background-color: #e0f7e9;
        /* fondo suave */
        color: #007700;
        /* texto verde */
        padding: 6px 12px;
        border-radius: 5px;
        font-weight: 500;
        font-size: 14px;
        gap: 6px;
        width: 100%;
        text-align: center;
    }
}



/* =============================== */
/* SPEUDOCLASE A TARJETAS - ANIMACION
/* =============================== */
.card:hover {
    animation: crecerTarjeta 1.25s ease forwards;
}

.chincheta {
    max-width: 24px;
    max-height: 24px;
}

/* =============================== */
/* TARJETA HORIZONTAL */
/* =============================== */

.card-horizontal {
    display: flex;
    flex-direction: row;
    /* fila horizontal */
    align-items: center;
    justify-content: space-between;
    /* separa los bloques */
    gap: 20px;
    width: 100%;
    background-color: #f2f1f1;
    padding: 15px;
    border-radius: 5px;
}

.cards-container {
    display: flex;
    flex-direction: column; // las tarjetas se apilan
    gap: 20px;
    width: 100%;
}


/* =============================== */
/* IMAGEN */
/* =============================== */

.card-horizontal img {
    width: 180px;
    height: 120px;
    border-radius: 4px
}

/* =============================== */
/* BLOQUE INFO */
/* =============================== */

.card-info {
    flex: 2;
}

.card-info h3 {
    margin-bottom: 8px;
    font-size: 20px;
}

.card-info p {
    font-size: 14px;
    color: #555;
}

/* =============================== */
/* FECHAS */
/* =============================== */
.card-fechas {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card-fechas span {
    font-size: 12px;
    color: #888;
}

.card-fechas strong {
    font-size: 14px;
}

/* =============================== */
/* PRECIO */
/* =============================== */

.card-precio {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.precio-oferta {
    text-decoration: line-through;
    color: #a00;
    font-size: 14px;
}

.precio {
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 177, 0);
}

// PAGINA DESTINO ===================================

// CONTENEDOR DE LOS PAISES POR CONTINENTE
.continente {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    justify-self: center;
    padding: 20px 0;
}

// CONTENEDOR DE LAS CARD DE PAISES
.paises {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}

// CONTENEDOR DE LAS CARTAS DEL PAIS
.pais {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

// ESTILO A LA IMG-CARD DEL PAIS
.pais img {
    width: 350px;
    height: 150px;
    border-radius: 5px;
}

/* Imagen al hacer hover */
.pais img:hover {
    animation: crecerTarjeta 0.3s forwards;
    /* ejecuta tu keyframes */
    cursor: pointer;
    /* opcional */
}

// LISTA DE CIUDADES DEL PAIS
.lista-ciudades li {
    display: flex;
    justify-content: space-between;
    color: rgb(0, 22, 123);
}

// CONTENIDO DE LA CARD DEL PAIS
.contenido {
    padding: 10px 5px;
    background-color: #e1e1e1;
    border-radius: 5px;

    .button {
        display: block;
        text-align: center;
        margin: 10px 0px;
    }
}

.titulo-pais {
    padding-bottom: 10px;
}

.titulo-continente {
    padding: 10px 0px;
    margin: 20px 0px;
    border-top: 1px solid #16002f;
    border-bottom:  1px solid #16002f;
}