.container-menus {
    background: linear-gradient(to bottom, $fondo-cabecera-2, #fca800);

    nav > ul {
        display: flex;
        justify-content: space-around;

        li {
            position: relative;

            a {
                display: block;
                padding: 10px 15px;
                text-align: left; // texto alineado a la izquierda
            }

            ul { // Primer submenú
                display: none;
                position: absolute;
                top: 100%;  // debajo del li principal
                left: 0;
                padding: 0;
                background: linear-gradient(to bottom, #fca800, hsl(15, 100%, 50%));
                border-radius: 10px;
                min-width: 150px;
                z-index: 2;
                li {
                    position: relative;

                    a {
                        display: block;
                        padding: 10px 15px;
                        text-align: left; // texto alineado a la izquierda
                    }

                    ul { // Sub-submenú
                        display: none;
                        position: absolute;
                        top: 0;       // al mismo nivel vertical que el primer menú
                        left: 100%;   // al lado del primer submenú
                        padding: 0;
                        background: linear-gradient(to bottom, #fca800, hsl(15, 100%, 50%));
                        border-radius: 10px;
                        min-width: 150px;
                        z-index: 2;
                    }

                    &:hover > ul {
                        display: block;
                    }
                }
            }

            &:hover > ul {
                display: block;
            }
        }
    }

}
