@mixin transicion-color($tiempo, $tipo){
    transition: color $tiempo $tipo;
}

@mixin transicion-font($tiempo, $tipo){
    transition: font-size $tiempo $tipo;
}

@mixin transicion-background($tiempo, $tipo){
    transition: background $tiempo $tipo;
}
