// =======================================
// ESTILO CUERPO =========================
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0%;
}


// ================================================================
// ESTILO GENERAL A TODOS LOS ELEMENTOS DEL ARCHIVO HTML ==========
// ================================================================

// ESTILO GENERAL AL CURSOR DEL BOTON  ============================
button {
    cursor: pointer;
}

// ESTILO A TODOS LOS BOTONES  ============================
.button {
    background-color: $color-boton; // Color de fondo (variable)
    color: #ffffff; // Texto blanco
    border-radius: 5px; // Bordes redondeados
    padding: 5px 25px; // Relleno vertical y horizontal
    border: none; // Sin borde

    @include transicion-background(0.5s, linear); // Mixin de transición

    &:hover {
        background-color: lighten(#16002f, 25%); // Aclara el fondo al pasar cursor
    }
}


// ESTILO GENERAL A SEPARADOR =====================================
hr {
    border: 1px solid white;
}

// ESTILO GENERAL A TODOS LOS ENLACE ==============================
a {
    text-decoration: none;
    color: $color-enlace;
    @include transicion-color(0.6s, linear);

    &:hover {
        color: #ffffff;
    }
}

// ESTILO GENERAL PARA TODOS LOS H1 =========================================
h1 {
    text-align: center;
    font-family: $font-titulos;
}

// ESTILO GENERAL PARA TODOS LOS H2 =========================================
h2 {
    text-align: center;
    font-family: $font-titulos;
    text-shadow: 1px 1px 0px rgb(189, 189, 189);
    color: $color-boton;
    /* tamaño principal */
    font-weight: 600;
    /* negrita */
    color: #16002f;
    /*color principal */
    margin: 0;
    letter-spacing: 0.5px;
    /* mejora la legibilidad */
}

p {
    font-family: $font-texto;
}