// VARIABLES
$fondo-footer: #2C3E50;
$fondo-cabecera-1: #392166;
$fondo-cabecera-2: #9552B1;
$img-fondo-hero: "../imgs/avion.jpg";
$logo-img: "../imgs/logo.png";
$font-principal: 'Nunito', sans-serif;
$font-titulos: 'Denk One', sans-serif;
$color-enlace: #bebebe;
$color-logo: #F39C12;
