// VARIABLES
$img-fondo-hero: "../imgs/avion.jpg";
$logo-img: "../imgs/logo.png";
$font-principal: 'Nunito', sans-serif;
$font-titulos: 'Denk One', sans-serif;
$color-h2: #e06d4a;
$color-enlace: #bebebe;
$color-logo: #cd7f00;
$gradiente-1: #411774;
$gradiente-2: #7282c8;
$fondo-contenedor-cards: #15106b;
$color-boton: #270066;
$fondo-card-1: #183446;
$fondo-card-2: #046e8f;
