@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Denk+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:wght@200..1000&display=swap');

// Fuentes
$font-texto: 'Nunito', sans-serif;
$font-titulos: 'Poppins', sans-serif;

// VARIABLES
$img-fondo-hero: "../imgs/avion.jpg";
$logo-img: "../imgs/logo.png";

// Colores
$color-h2: #e06d4a;
$color-enlace: #bebebe;
$color-logo: #cd7f00;
$gradiente-1: #411774;
$gradiente-2: #7282c8;
$fondo-contenedor-cards: #15106b;
$color-boton: #270066;
$fondo-card-1: #183446;
$fondo-card-2: #046e8f;
