// VARIABLES
$fondo-footer: #2C3E50;
$fondo-cabecera: #392166;
$img-fondo-hero: "../imgs/avion.jpg";
$logo-img: "../imgs/logo.png";
$font-principal: 'Nunito', sans-serif;
$font-titulos: 'Denk One', sans-serif
