
/*Cabecera: formateo de color y alienacion*/
header {
    background-color: black;
    color: aliceblue;
    text-align: center;
}

/*Cuerpo principal: Alienacion*/
main {
    justify-items: center;
}

/*Seccion filas: alienacion*/
.filas {
    display: flex;
    align-content: center;
    
}

/*Secciones dentro de la clase filas: alienacion y espaciado*/
.filas > section {
    display: flex;
    flex-direction: column;        /* columna vertical */
    gap: 20px;
}

/*Imagenes dentro de las seccion de la clase filas: formateo de altura, anchura y espacio*/
.filas > section > img {
    height: 150px;
    width: 150px;
    margin: 10px;
}

