body {
    background-image: url("../img/fondo-abstracto.jpg");
    background-size: cover;
    /* Escala la imagen proporcionalmente*/

    font-family: 'Times New Roman', Times, serif;

    /*Formateo*/
    padding: 0%;
    margin: 0%;
}

/* CABECERA */
header {
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
}

/*Imagen de la cabecera*/
header img {
    width: 100px;
}

/* NAVEGADOR*/
header nav ul li a {
    text-decoration: none;
    color: rgb(4, 2, 36);
}

/* Efecto Hover: al pasar con el mouse cambia*/
header nav ul li a:hover {
    color: darkblue;
    background-color: rgba(247, 242, 235, 0.922);
    padding: 15px;
    border-radius: 15px;
}

/* Menú de navegación: flex horizontal, sin puntos, con espacio entre elementos */
header nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 20px;
    margin: 30px;
}

/* ------ CUERPO ------ */

/* CONTENEDOR PRINCIPAL: Formateo de posiciones del articulo principal */
#container-principal {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    
}

/* FORMATEAR CONTENEDOR PRINCIPAL: Formateo de estilo de la etiqueta h1 del contenedor principal  */
#container-principal h1 {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic
}

/* ------------------- */

/* ARTICULO PRINCIPAL: Formateo de las posiciones del articulo principal*/
.articulo-principal {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    margin: 80px;
}

/* SECCION PRINCIPAL: Formateo de las posicion de la seccion principal del articulo*/
.seccion-principal {
    display: flex;
    padding: 15px;
    margin-right: 30px;
    background-color: rgba(211, 179, 141, 0.573);
    border-radius: 15px;
    gap: 10px;
}

/* PRIMERA SECCION: */
.primera-seccion {
    padding: 0px;
}

.primera-seccion section {
    text-align: left;
}

.primera-seccion section ul {
    padding: 10px;
}

.primera-seccion section ul li {
    list-style-type: none;
}

/* SEGUNDA SECCION: */
.segunda-seccion {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: rgb(237, 230, 219);
    border-radius: 15px;
    padding: 10px;
    width: 450px;
}

.segunda-seccion h2 {
    text-align: center;
}

.segunda-seccion ul li {
    list-style-type: none;
    padding: 5px;
}

.segunda-seccion ul li img {
    width: 40px;
    height: 40px;
    background-color: slategray;
    border-radius: 20px;
}


/* BARRA LATERAL: Formateo de la altura y fomra de la imagen en el lateral*/
aside img {
    height: 450px;
    width: 390px;
    border-radius: 15px;
}

/* ----- BOTON -----*/
/* BOTON: Formateo de la forma, posicion y color del boton*/
button {
    align-self: center;
    margin: 20px;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    background-color: rgb(245, 249, 226);

}

/* BOTON: Estilo del enlace en el boton*/
button a {
    text-decoration: none;
    color: rgba(240, 248, 255, 0.493);

}

/* PIE DE PAGINA: Posicion del pie de pagina*/
footer {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-items: end;

}

/* CLASE CONTACTO: posicion de los contactos en el pie de pagina*/
.contacto ul li {
    display: inline;
}

/*Formateo y Estilo de contacto*/
.contacto ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilo del la imagen en la lista de contactos*/
.contacto ul li img {
    width: 120px;
    /* ancho fijo */
    height: 110px;
    /* alto fijo */
}

/* CSS aplicado a la ventana formacion*/
.container-formacion {
    background-color: rgba(206, 195, 171, 0.867);
    
}

