* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* ------- Cabecera -------*/
header {
    color: aliceblue;
}
.main-header {
    display: flex;
    justify-content: space-between;
    background-color: #3E5C76;
    padding: 20px;
}

/* ------- Navegador ------- */

.main-nav ul {
    text-align: start;
    display: flex;
    
}

.main-nav ul li {
    list-style-type: none;
    padding: 10px;;
}

.main-nav ul li a{
    text-decoration: none;
    color: aliceblue;
    transition: color 0.3s;
}

.main-nav ul li a:hover{
    text-decoration: none;
    color: #748CAB;
}


/* ------- Cuerpo ------- */
body {
    background-color: #e4ebf7e3;
}


/* Configurar el tamaño del contenedor main */
main.contenedor {
    float: left;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 155px;
}


/* Configurar el tamaño del contenedor aside */
aside.contenedor {
    float: left;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #d1dbe4;
    height: 315px;
    width: 300px;
}



/*Articulo principal*/
.articulo-principal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 850px;
}

.articulo-principal h2 {
    color: #748CAB;
    
}

.articulo-principal p, h2 {
    padding: 10px;
}

/*Secciones dentro del articulo principal*/
.seccion1 {
    background-color: rgb(255, 255, 255); 
    border-radius: 10px;
    padding: 10px;
}

.seccion1 h2 {
    color: #3E5C76;
}

.seccion2 {
    display: flex;
    justify-content: space-between;
}

.seccion2 section {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    width: 320px;
}


.seccion2 h3 { 
    font-size: 15px;
}

.seccion2 section h3,
.seccion2 section p {
    padding: 10px;
}

.seccion2 section h3 {
    font-size: 15px;
}

/* ---- Aside dentro del main ---- */


.categoria, .seguir {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;    
}

.seguir h3 {
    color: #748CAB;
    
}

.categoria ul li {
    list-style-type: none;
    color: black;
}

.categoria h3 {
    color: #748CAB;
}

/*Separador*/
hr {
    border: 1px solid color gray;
}

/* ------ Pie de pagina ------ */
footer {
    clear: both; /*Se limpia el float*/
    color: aliceblue;
    background-color: #3E5C76;
    padding: 10px;
    text-align: center;
}